/* HTML */
body {
    margin: 0;
    background-color: Black;
}
header {
    position: relative;
    color: white;
    margin-left: 30%;
    font-style: italic;
    margin-top: 20%;
}
footer {
    position: relative;
    background-color: darkgray;
    padding: 60px 0;
    color: black;
    top: 50vh;
 
}
/* FIM/HTML */

/* MENU/CONTAINER */
.bmenu {
    margin-top: -5%;
    margin-left: 33%;
}
/* FIM MENU/C */

.bemvindo {
    margin-top: -10%;
    color: rgb(27, 61, 61);
    font-size: 50px;
    font-style: italic;   
}
.descrition {
    margin-top: 22%;
}

/*MENU*/
.menu { 
    font-style: italic;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -10%;
    margin-left: -40%;
}
.menu a{
    text-decoration: none;
    padding: 10px 18px;
    background-color: rgb(72, 105, 105);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.4s;
}
.menu a:hover {
    background-color: black;
    color: blue;
}
/* FIM/MENU */


/* NOME, CARGO E DESC */
.name {
    margin-left: -15%;
    font-style: normal;
    color: rgb(17, 150, 150);
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.cargo {
    margin-left: -15%;
    color: rgb(93, 185, 185);
    margin-top: -7%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desc {
    margin-left: -15%;
    font-size: 18px;
}
/* FIM DO NAME*/

.container {
    margin-top: -10%;
    color: darkcyan;
    font-style: italic;
    font-size: 17px;
}

/*PORTFOLIO*/
.my {
    margin-left: 10%;
    margin-bottom: -30px;
    margin-top: 15%;
}
.port {
    color: rgb(148, 223, 223);
    margin-left: 10%;
}
/*FIM/PORTFOLIO */

.cop {
    font-size: 20px;
    margin-top: -1%;
    margin-left: 5%;
}
.redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -4.4%;
    margin-left: -10%;
}

.redes a {
    color: rgb(196, 73, 93);
    font-size: 38px;
    transition: 0.2s;
}

.redes a:hover {
    color: darkblue;
    transform: scale(1.1);
}